[mysqld]
log-error=/var/lib/mysql/kiwioptimized.kiwiwife.com.err
innodb_file_per_table=1
default-storage-engine=innodb
performance-schema=0
innodb_buffer_pool_size=128M
innodb_log_file_size=128M
max_connections=500
#query_cache_size=0
#performance_schema=off
key_buffer_size = 8M
